@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reduce vertical margin around <hr> inside prose */
.prose hr {
  margin-top: 1rem;    
  margin-bottom: 1rem; 
  border-color: #d1d5db;  /* optional, matches gray-300 */
}

body {
  @apply bg-orange-50;
}

.page-background {
  position: fixed;
  inset: 0;
  z-index: -10;
  background-image: url('/images/background/bg_ruins_to_future_skyline.png');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  pointer-events: none;  /* So clicks go through it */
}